<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All Post</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="selectedVal" (ionChange)="OnChange($event)" placeholder="Please Select a Category">
        <ion-select-option *ngFor="let kategori of kategori" [value]="kategori.idkategori">
          {{kategori.nama}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col size="0" size-sm="2" push="0" push-lg="10"></ion-col>
      <ion-col size="12" size-sm="8">

        <ion-card *ngFor="let post of item_post_by_kategori" href="/detail-post/{{post.idpost}}">
          <ion-card-header>
            <img src="https://pbpblog.000webhostapp.com/assets/upload/post/{{post.gambar_post}}" />
            <ion-card-title>{{post.judul}}</ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="calendar-outline"></ion-icon> {{post.tgl_update}}
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-icon name="person-outline"></ion-icon> {{post.nama}}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content style="text-align: justify;">
            <div [innerHTML]="post.isi_post"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="0" size-sm="2" push="0" push-lg="10"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>