<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Searchbar in a Toolbar -->
  <ion-toolbar>
    <ion-searchbar animated [(ngModel)]="searchJudul" (keyup)="search($event)"></ion-searchbar>
  </ion-toolbar>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let items of items" href="/detail-post/{{items.idpost}}">
      <ion-label>{{items.judul}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>